name: Test

on: 
  push:
    branches: 
      - '*'
      - '*/**'
    paths-ignore:
      - 'README.md'
      - '.gitignore'
      - 'LICENSE'
      - 'CHANGELOG.md'
      - 'doc/**'
      - 'sample/**'
      - 'tools/create-release.py'
      - '.github/workflows/publish.yml'

jobs:
  mac:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include: 
        - { os: macOS-13, xcode: '15.0' }
        - { os: macOS-13, xcode: '14.3' }
        - { os: macos-14, xcode: '15.4.0' }
        - { os: macos-15, xcode: '16.4.0' }
        - { os: macos-15-intel, xcode: '16.4.0' }
        - { os: macos-26, xcode: '26.0' }

    env: 
      DEVELOPER_DIR: /Applications/Xcode_${{ matrix.xcode }}.app

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Build tests
      shell: bash
      run: xcodebuild build -project test/test.xcodeproj -scheme test -config Release -derivedDataPath DerivedData

    - name: Run tests
      shell: bash
      run: DerivedData/Build/Products/Release/test

  linux:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
        - {os: ubuntu-22.04, version: 16 }
        - {os: ubuntu-24.04, version: 17 }
        - {os: ubuntu-24.04, version: 18 }
        - {os: ubuntu-24.04, version: 19 }
        - {os: ubuntu-24.04, version: 20 }
        - {os: ubuntu-24.04, version: 21 }
    
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Prepare
      shell: bash
      run: |
        echo "::group::Update System"
        sudo apt-get install -y ninja-build
        echo "::endgroup::"
        
        echo "::group::Clang"
        wget https://apt.llvm.org/llvm.sh
        chmod u+x llvm.sh
        sudo ./llvm.sh ${{ matrix.version }}
        echo "::endgroup::"
        
        echo "::group::libdispatch"
        git clone --depth=1 https://github.com/apple/swift-corelibs-libdispatch.git
        cd swift-corelibs-libdispatch
        cmake -G Ninja -DCMAKE_C_COMPILER=clang -DCMAKE_CXX_COMPILER=clang++ -S . -B build
        cmake --build build
        sudo cmake --install build --prefix=/usr
        echo "::endgroup::"


    - name: Build tests
      shell: bash
      run: |
        cd test
        CLANG=clang++-${{ matrix.version }} make

    - name: Run tests
      shell: bash
      run: test/build/test
